/* src/components/Contact.module.css */
.section {
  padding: 20px;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contactDetails {
  margin-top: 10px;
}

.contactDetails p {
  margin-bottom: 5px;
}
